<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manual-frequencies" href="/tabs/manual-frequencies">
      <ion-icon aria-hidden="true" name="pulse"></ion-icon>
      <ion-label>Frecuencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity-sounds" href="/tabs/activity-sounds">
      <ion-icon aria-hidden="true" name="musical-notes"></ion-icon>
      <ion-label>Actividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
