.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

ion-button.back-button {
  --color: var(--app-text-color);
  --background: transparent;
  --box-shadow: none;
}